<footer class="footer">
    <div class="social-icons">
        {{- if .Site.Params.socialIcons -}}
            {{- range .Site.Params.socialIcons -}}
            <a href="{{ .url }}" target="_blank" rel="noopener noreferrer" style="margin: 0 10px; text-decoration: none;">
                {{ .name | humanize }}
            </a>
            {{- end -}}
        {{- end -}}
    </div>
    <span style="font-size: 0.9em; opacity: 0.8; display: flex; align-items: center; justify-content: center; gap: 2px;">
        <span style="font-size: 1.15em; line-height: 0;">&#8471;</span>&#169; {{ now.Year }} Deux Recording Archives
    </span>
</footer>